In [2]:
x=5
print(x)

5

In [31]:
def print_name(name: str):
    name = 'Ben'
    print(name)

y = 'Tom'
print_name(y)
print(y)

Ben
Tom

In [1]:
def print_name(name: str):  # name is a parameter of type str
    name = 'Ben'            # this changes local variable 'name' inside the function
    print(name)             # prints 'Ben'

y = 'Tom'                   # variable outside the function
print_name(y)               # calls function, passing 'Tom', but it gets overwritten inside
print(y)                    # prints 'Tom' â€” outer variable is unchanged

Ben
Tom

In [ ]:
#indentation


list_num = [1,2,3,4,5]
for item in list_num:

In [ ]:
### VARIABLES

## RULES FOR NAMING VARIABLES
- Start with letter or underscore
- Can only contain letters, numbers and underscore
- Variables are case sensitive
- You cannot use python key words to name Variables
Tips for Variables

- Names should be decriptive enough
- Do not single letter

In [3]:
# += Operator
y = 10
y = y + 5
print(y)

15

In [5]:
y = 10
y += 6
print(y)

16

In [7]:
y =10
y -=6
print(y)

4

In [4]:
#Variables
my_name = "Angela" # variable defined here is my_name
my_age = 12 #variable define here is my_age

my_Age = 12

print(my_age)
print(my_Age)

12
12

In [ ]:
## Data Types
Numeric Data type
- Integer data type : whole number e.g 3, 14, 23
- Float data type : Numbers with fractions e.g 5.5, 6.7

Strings :
String of characters: e.g "Blessing", "4567"

In [10]:
# STRING CONCATENATION

v = "Hello " + "Angela"
v = "Hello" + " Angela"
v = "Hello" + " " + "Angela"
print(v)
print(v)
print(v)

Hello Angela
Hello Angela
Hello Angela

In [33]:
speech = 'She said that "that you will be coming tomorrow"'
speech = "She said that \"that you will be coming tomorrow\""
speech = "She said that \"that you will be coming tomorrow?\"\nGive me a reply soon"

val = "These are the items \"book\", \"pencil\", \"sharpner\" "
print(speech)
print(val)

She said that "that you will be coming tomorrow?"
Give me a reply soon
These are the items "book", "pencil", "sharpner"

In [ ]:
#f-spring
#colly bracket makes a variable {}

days_in_year = 365
print(f"There are {days_in_year} days in a year")

There are 365 days in a year

In [14]:
#Data type conversion
v = 456
new_n = float(v)
print(new_n)

456.0

In [15]:
#modulo operator
#modulo operator will only give remainder.
print(19 % 5)

4

In [ ]:
# Some Errors in Python 
# - Zero error : when you divide a number by 0 
#- Syntax Error : Occurs when your code does not make any sense to the computer e.g this occurs when you misspelt something 
#- Name Error : Occurs when you try to use a variable that has not been defined
#- Type Error : Occurs when you try to perform an operation on a variable that is not compatible with the operation
#- Index Error : Occurs when you try to access an index that is out of range in a list or string
#- Key Error : Occurs when you try to access a key that does not exist in a dictionary
#- Attribute Error : Occurs when you try to access an attribute that does not exist in an object
#- Import Error : Occurs when you try to import a module that does not exist or is not installed
#- Value Error : Occurs when you try to convert a value to a type that is not compatible with the value
#- File Not Found Error : Occurs when you try to open a file that does not exist
#- Indentation Error : Occurs when your code is not properly indented, which is important in Python for defining blocks of code
#- Overflow Error : Occurs when a calculation exceeds the maximum limit for a numeric type
#- Memory Error : Occurs when your program runs out of memory
#- Recursion Error : Occurs when a function calls itself too many times without a base case, leading to a stack overflow
#- Stop Iteration Error : Occurs when you try to iterate over an object that has no more items to return
#- Unicode Error : Occurs when there is an issue with encoding or decoding a string that contains non-ASCII characters

In [20]:
#Python function *key word is def*
#every function must be return


def add_num(a,b):
    v = a + b
    print(v)

add_num(2,3)

5

In [ ]:
#Function is a block of code use to solving a task in Python
# Variable is a container which value are stored

In [23]:
def add_welcom(welcom):
    welcom = "How are you azeez, Welcome to today's Class"
    print(welcom)

add_welcom("How are you azeez, Welcome to today's Class")

How are you azeez, Welcome to today's Class

In [34]:
#Variable Scope

n = 2

def my_num():
    n = 3
    print(n)

print(n)
my_num()

2
3

In [ ]:
#Variable Scope example 2

my_val = 2 # Global scope

def my_num():
    my_val = 3 #Local Scope ## this sign (+=) means 1
    print(my_val + 20)

print(my_val + 30) 
my_num()

32
23

In [ ]:
# Python Key Words
print, def, in, import, or, and, class, return, except, try,

In [1]:
x = (7 + 4)

print(x)

11

In [30]:
val_age = int(input("Enter your age here"))

print(val_age +15)

40

In [ ]:
#Conditionals
n = 2
if n > 9:
    print("this is true")

else:
    print("this is not true")    #Use ELSE function to support IF function to give us a answer NB: they must be on the same line

this is not true

In [ ]:
# this sign (=) means assign to
# this sign (==) means qual to

In [ ]:
#Conditionals #elif is use to introduce multiple conditions
n =1000
if n >1900: #Check a condition or start multiple conditions
    print("Vacation In USA")

elif n == 1500: #elif is use to introduce multiple conditions
    print("Vacation in Barbados")

elif n >= 1000:
    print("Vacation in Morroco")  

else:
    print("No vacation for you")

Vacation in Morroco

In [ ]:
#% is modulo function which is use for reminder

In [ ]:
# Logical statements/comparisons in python
# and, or, not
#and (keyword that ensures both conditions or all conditions are met)
#or (keyword that runs if any of the conditions is true)
#not (negates a condition, or reverses a condition)
my_age = 64

if my_age > 70 and my_age % 2 == 0: #and (keyword that ensures both conditions or all conditions are met)
    print("Good age value")
else:
    print("Sorry try again next time")

Sorry try again next time

In [ ]:
my_age = 64

if my_age > 70 or my_age % 2 == 0: #or (keyword that runs if any of the conditions is true)
    print("Good age value")
else:
    print("Sorry try again next time")

Good age value

In [ ]:
my_age = 64

if not my_age > 70 or my_age % 2 == 0: #not (negates a condition, or reverses a condition)
    print("Good age value")
else:
    print("Sorry try again next time")

In [ ]:

def my_age_left(age):
    max_age = 90

    if age >= max_age:
        print("You have reached or surpassed the average lifespan.")
        return

    years_left = max_age - age
    months_left = years_left * 12
    weeks_left = years_left * 52
    days_left = years_left * 365

    print(f"You have {months_left} months, {weeks_left} weeks, and {days_left} days left.")

   
try:
    age_input = int(input("Enter your current age: "))
    my_age_left(age_input)
except ValueError:
    print("Please enter a valid number for age.")

You have 672 months, 2912 weeks, and 20440 days left.

In [37]:

def my_age_left(age):
    age = int(input("Enter your current age here"))
    max_age = 90
    if age>= max_age:
        print("You have reached or surpassed the average lifespan")
        
    years_left = max_age - age
    months_left = years_left * 12
    weeks_left = years_left * 52
    days_left = years_left * 365
    return print(f"You have {months_left} months, {weeks_left} weeks, {days_left} days left")
    
try:
    age_input = int(input("Enter your current age: "))
    my_age_left(age_input)
except ValueError:
    print("Please enter a valid number for age.")

Please enter a valid number for age.

In [ ]:
#LOOPS IN PYTHON loop is used to initiate an effect while a condition is true

#While loop: A loop that will keep repeating itself until the while condition becomes false
n = 1
while n < 10:
    n += 1
    print(n)

2
3
4
5
6
7
8
9
10

In [ ]:
#List: A list a bult-in mutable connection that can store multiple values or items in single variable.
student_list = ["Mouma","Binta","Azeez","Mpudule","Tobi"]
#For Loop: A For Loop helps you to loop through an iterable object.

for name in student_list:
    print(name)

In [ ]:
#List: A list a bult-in mutable connection that can store multiple values or items in single variable.
student_list = ["Mouma","Binta","Azeez","Mpudule","Tobi"]
#For Loop: A For Loop helps you to loop through an iterable object.

for val in student_list:
    print(f"This very student {val} is happy")

In [ ]:
#Range
for val in range(7):
    print(val)

In [ ]:
#Range 
for val in range(1,7,2):
    print(val)

In [ ]:
for _ in range(10): #underscore helps the range function to iterate a certain number of times
    print(val)

In [2]:
#Break: break out of an existing "for" or "while" loop
student_score = [25,50,75,100,200,500]
for score in student_score:
    if score > 100:
        print("That's okay")
        break
    print(score)

25
50
75
100
That's okay

In [9]:
# Another example for break
scores = [34, 67, 99, 105]
for s in scores:
 if s > 100:
   print("Exit Printing")
   break
 print(s)

34
67
99
Exit Printing

In [3]:
#Continue
n = 1
while n < 10:
    n += 1
    if n % 3 == 0: # exception of value with modulo equal to zero
        continue
    print(n) #print all odd numbers

#infinite

2
4
5
7
8
10

In [ ]:
#Data Structures In Python:
#Lists
#Dictionary
#Tuples
#Sets

In [14]:
#Lists: A list is an ordered, mutable collection of values or items in a single variable.
#Exp
names_of_students = ["Mouma", "Binta", "Azeez", "Mpudule", "Tobi"]
print(names_of_students[4])

Tobi

In [19]:
#how to update names in the list
names_of_student = ["Mouma", "Binta", "Azeez", "Mpudule", "Tobi"]
updated_names = names_of_students + ["Daniel", "Adnan"]
print(updated_names[6])

Adnan

In [21]:
#Still on how to update names on the list; Instead of using updated_names = names_of_students +["Daniel"], we can use APPEND to update the name.
updated_names.append("Angel")
print(updated_names)

['Mouma', 'Binta', 'Azeez', 'Mpudule', 'Tobi', 'Daniel', 'Adnan', 'Angel']

In [ ]:
days_in_year = 365
print(f"There are {days_in_year} days in a year")

In [27]:
#adding an item to a list
all_fruits = ["apple", "banana", "cherry"]
print(all_fruits)
all_fruits.append("orange")
print(all_fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']

In [47]:
#List indexing: List indexing allowed you to add different types of items together.
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l"]
print(letters[0])
print(letters[1])
print(letters[-1])
print(letters[-2])

a
b
l
k

In [44]:
#List slicing is a method of creating a sublist of consecutive elements drawn from another list
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l"]
letters_slice = letters[1:4]
print(letters_slice)
print(letters[1:3])
print(letters[::2])
print(letters[:3])
print(letters[3:])
print(letters[-3:])

['b', 'c', 'd']
['b', 'c']
['a', 'c', 'e']
['a', 'b', 'c']
['d', 'e']
['c', 'd', 'e']

In [48]:
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

In [53]:
for i in range(6,24,3): # Generates numbers from 6 to 1, decrementing by 2
    print(i)

6
9
12
15
18
21

In [52]:
#Use of Range Function
for i in range(5): # Generates numbers from 0 to 4
    print(i)

print("-------")

for i in range(6,-4,-2): # Generates numbers from 6 to 1, decrementing by 2
    print(i)

0
1
2
3
4
-------
6
4
2
0
-2

In [55]:
import random # randint(start, end,end)
i = random.randint(1, 100)
print(i)

41

In [56]:
import random # When running random, you can get different output. But if you want the same output from your randomness, you will need to set a seed

random.seed(1)
i = random.randint(1, 100)
print(i)

18

In [58]:
### Start function
def combine(words):
    #Start function
    #Hint: use the '.join' string method to combine your words
### End function

In [59]:
sent = ["Let's", "do", "this!"]
print(sent)

["Let's", 'do', 'this!']

In [65]:
sentence = "Hello, how are you?"
print(sentence)

Hello, how are you?

In [62]:
list1 = ["Hello",", ","how"," ","are"," ","you","?"]
print(list1)

['Hello', ', ', 'how', ' ', 'are', ' ', 'you', '?']

In [66]:
def combine(list1:[]):
    # .join()
    sentence = "".join(list1)
    return sentence

In [67]:
combine(["Hello",", ","how"," ","are"," ","you","?"]) == "Hello, how are you?"

True

In [77]:
#find the square root of 22/7
import math

fraction = 22 / 7
sqrt = math.sqrt(fraction)
print(sqrt)

1.7728105208558367

In [160]:
#Write a function that gives your firstname as lower case and your surname in upper case

####def full_name(firstname, surname):
    ####return firstname.lower() + ' ' + surname.upper()
###result = full_name("AZEEZ", "BOLAJI")
#####print(result)

In [95]:
#Write a function that gives your firstname as lower case and your surname in upper case
def lower_upper():
    a = input("insert your first name in caps")
    b = input("insert your last name in lower case")
    v = a.lower()
    t = b.upper()
    return v,t

In [96]:
lower_upper()

insert your first name in caps AZEEZ
insert your last name in lower case Bolaji

('azeez', 'BOLAJI')

In [97]:
def lower_upper():
    a = input("insert your first name in caps")
    b = input("insert your last name in lower case")
    v = a.lower()
    t = b.upper()
    return f"{v} {t}"

In [101]:
lower_upper()

insert your first name in caps john
insert your last name in lower case paul

'john PAUL'

In [79]:
x = 2**5 
print(x)
y = (130/5)
print(y)
z = 6* 7
print(z)

32
26.0
42

In [80]:
#is y equal to z (True or False)
y == z

False

In [100]:
(22/7)**(0.5)

1.7728105208558367

In [104]:
### LAMBDA | MAP | FILTERING

In [112]:
#Instead of using REGULAR functions, which are below
def muli_by_2(v):
    return v*2

In [113]:
muli_by_2(6)

12

In [107]:
#Use lambda function: lambda is used in the form of a def function
p = lambda z :z*2

In [114]:
print(p(6))

12

In [115]:
#Regular function
def muli_by_2(v):
    c =int(input("enter value for c"))
    return v*2 + c

In [117]:
muli_by_2(6)

enter value for c 8

20

In [121]:
p = lambda z,c:z*2 + c

In [122]:
print(p(6,8))

20

In [140]:
p = lambda z:z*2 + int(input("enter value for c"))

In [141]:
print(p(6))

enter value for c 8

20

In [144]:
def lower_upper():
    a = input("insert your first name in caps")
    b = input("insert your last name in lower case")
    v = a.lower()
    t = b.upper()
    return v,t

In [169]:
def w():
    s = input("insert your first name")
    d = input("insert your last name")

In [170]:
w = lambda: (input("insert your first name:").lower(), input("insert your last name:").upper())

In [171]:
print(w())

insert your first name: Azeez
insert your last name: bolaji

('azeez', 'BOLAJI')

In [126]:
#Lambda example 3
def root(x,y):
    return x**(1/y)

In [128]:
root(x,y)

1.1425899079327673

In [125]:
#MAPPING

val_list = [2,4,6,8,10]
for i in val_list:
    print(i**2)

4
16
36
64
100

In [1]:
#MAPPING
def squa_list(li:[]):
    for i in val_list:
        print(i**2)

In [2]:
val_list = [2,4,6,8,10]

In [131]:
squa_list(val_list)

4
16
36
64
100

In [4]:
#lambda in MAPPING
w = list(map(lambda a:a**2,val_list))
print(w)

[4, 16, 36, 64, 100]

In [14]:
root = lambda x, y, v : (x % y) * v**2

In [17]:
print(root(1,2,3))

9

In [18]:
y = [6,2,3,9,1,5]
print(sorted(y))

[1, 2, 3, 5, 6, 9]

In [26]:
y = [6,2,3,9,1,5]
v = lambda y  : sorted(y)
print(v(y))

[1, 2, 3, 5, 6, 9]

In [27]:
#Mapping
y = [3,9,12,15,18]
v = list(map(lambda a : a**2,y))
print(v)

[9, 81, 144, 225, 324]

In [29]:
#Filtering
lis_num = [3,4,5,6,7,8,9,10,11,12,13,14,15]
z = list(filter(lambda k : k> 4, lis_num))
print(z)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [30]:
lis_num = [3,4,5,6,7,8,9,10,11,12,13,14,15]
v = list(filter(lambda q : q % 2 == 0, lis_num))
print(v)

[4, 6, 8, 10, 12, 14]

In [36]:
lis_num = [3,4,5,6,7,8,9,10,11,12,13,14,15]
y = list(filter(lambda s : s % 3 == 0 and (s > 1 and all(s % i for i in range(2, int(s**0.5) + 1))), lis_num))
print(y)

[3]

In [37]:
#List comprehension:
nums = [1,2,3,4,5,6]
[x**2 for x in nums if x % 2 == 0]

[4, 16, 36]

In [12]:
words = ["Banana", "apple", "cherry"]
words.sort(key=str.casefold)

words = ["Banana", "apple", "cherry"]
words.sort(key=str.lower)
print(words)

['apple', 'Banana', 'cherry']

In [16]:
#pairs : arrange and retain original variable 
pairs = [(1, 'b'), (1, 'a'), (2, 'c')]
print(sorted(pairs))

[(1, 'a'), (1, 'b'), (2, 'c')]

In [18]:
#question 3 answer 1 My solution
#arrange and retain original variable
d = {"alice": 3, "bob": 1, "cara": 2}
d = dict(sorted(d.items()))
print(d)

{'alice': 3, 'bob': 1, 'cara': 2}

In [19]:
#question 3 answer 2 Mr. Kola solution
print(sorted(d.items(), key=lambda kv: kv[1]))

[('bob', 1), ('cara', 2), ('alice', 3)]

In [21]:
#question 3 answer 3 ChatGPT solution
sorted_by_value = dict(sorted(d.items(), key=lambda x: x[1]))
print(sorted_by_value)

{'bob': 1, 'cara': 2, 'alice': 3}

In [27]:
#Create a function sq_cube which returns a list of lists containing both the square and the cube of only the even numbers in a given list. The function must also be able to round the numbers to the nearest whole number

NameError: name 'orig_list' is not defined

In [30]:
e.g [1 ,2, 4, 5.6]
[[4,8], [16,64], [36,216]]

NameError: name 'orig_list' is not defined

In [31]:
def sq_cube(numbers):
    num_var = []
    for t in numbers:
        num_var.append(int(round(t,0)))
    even_var = []    
    for var in num_var:
        if var % 2==0:
            even_var.append(var)
    s=[]
    c =[]        
    for nums in even_var:
        s.append(nums**2)
        c.append(nums**3)
    for i in s,c:
        combined_list = list(list(zip(s,c)))    
        
    final_list = [list(i) for i in combined_list] 
   
   
    
    return final_list

In [36]:
def sq_cube(numbers):
    rounded_up=[round (num) for num in numbers]
    even_num=[]
    for num in rounded_up:
        if num % 2==0:
            even_num.append(num)
    final_num=[[(num)**2, (num)**3] for num in even_num]

    return final_num

In [39]:
numbers = [1 ,2, 4, 5.6]
sq_cube(numbers)

[[4, 8], [16, 64], [36, 216]]

Challenge
Proteins are the building blocks of life. The process starts when another protein (a polymerase) reads your genetic code and performs transcription, the code (RNA) for making a protein. Ribosomes will then attach to this RNA code to begin making specific proteins. Your genetic code is made up of pairs of nucleotides. Once transcribed into the code, these nucleotides contain the following nucleotides: U,G,A,C. UGA, UAA, and UAG are stop codons, and AUG is a start codon so that the protein, ribosome, can identify where to stop and start the protein formation. A genetics lab has tasked you to design a function that recognises the length of the RNA code (excluding the start and stop codons). The function must also determine if the code is actually a valid piece of code (must contain AUG as a start codon and UGA, UAA, or UAG at the end).

Note: RNA starts with a start codon AUG and ends with UGA, UAA, or UAG
The function must return "Not readable RNA code" if the above conditions are not met.

In [40]:
def rna_code_length(c):
    if c.startswith("AUG") and c.endswith("UGA"):
        return len(c) - 6
    elif c.startswith("AUG") and c.endswith("UAA"):
        return len(c) - 6
    elif c.startswith("AUG") and c.endswith("UAG"):
        return len(c) - 6
    else:
        return "Not readable RNA code"

In [41]:
rna_code_length('AUGAGGCACCUUCUGCUCCUUAC')

'Not readable RNA code'

In [42]:
rna_code_length('AUGUAGCAUAA')

5

In [43]:
rna_code_length('AUGUAGGCACAUUUAUGCUCCUGA')

18

In [45]:
def rna_length(RNA):
    if RNA[0:3]== 'AUG' and RNA[-3:] in ('UGA','UAA','UAG'):
        RNA = RNA[3:]
        RNA = RNA[0 :-3]
        result = len(RNA)
        return result
    else :
        return "Not readable RNA code"

In [46]:
rna_length('AUGAGGCACCUUCUGCUCCUUAC')

'Not readable RNA code'

In [47]:
rna_length('AUGUAGCAUAA')

5

In [48]:
rna_length('AUGUAGGCACAUUUAUGCUCCUGA')

18