### What is Pandas?

- Pandas is a Python library for working with structured data (tables, spreadsheets, CSVs, SQL query results, JSON). It gives you powerful tools to clean, explore, transform, aggregate, and visualize data
##### The two core data structures

- Series: a single labeled column (1-D).

- DataFrame: a table of rows and columns (2-D), basically a collection of Series that share the same row index.

##### Getting data in and out (I/O)

- Read: pd.read_csv(), read_excel(), read_json(), read_sql(), read_parquet().

- Write: df.to_csv(), to_excel(), to_json(), to_parquet().

In [3]:
#Import dependencies or library
import pandas as pd
import numpy as np

In [4]:


#load the data of interest
df1 = pd.read_csv("dicejobs1.csv")
#df1
df2 = pd.read_csv("New_Customers_Data.csv")
df2

,CUST_ID,DTH_INIT_SOL_ID,TRAN_DATE,Post Customer,PART_TRAN_TYPE,TRAN_SUB_TYPE,BU_CODE,BU_NAME,GROUP_CODE,GROUP_NAME,TEAM_CODE,TEAM_NAME,DESK_CODE,DESK_NAME,RM_CODE,RM_NAME,Post TRAN_AMT_VAL,Post TRAN_AMT
0,160450435,160,11/30/2022 0:00,160450435,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
1,160402430,160,11/15/2022 0:00,160402430,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
2,160417547,160,12/29/2022 0:00,160417547,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
3,160416279,160,1/19/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
4,160416279,297,1/20/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14107,160007006,160,1/19/2023 0:00,160007006,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",7050000,"?7,050,000.00"
14108,160007700,160,1/24/2023 0:00,160007700,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",13357400,"?13,357,400.00"
14109,161002647,160,1/20/2023 0:00,161002647,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5779000,"?5,779,000.00"
14110,160428214,160,11/10/2022 0:00,160428214,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",6000000,"?6,000,000.00"
14111,160428214,160,1/19/2023 0:00,160428214,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",10500000,"?10,500,000.00"

In [5]:
#Data Loading and Data Preview
#load the data of interest
df = pd.read_csv("New_Customers_Data.csv")
df

,CUST_ID,DTH_INIT_SOL_ID,TRAN_DATE,Post Customer,PART_TRAN_TYPE,TRAN_SUB_TYPE,BU_CODE,BU_NAME,GROUP_CODE,GROUP_NAME,TEAM_CODE,TEAM_NAME,DESK_CODE,DESK_NAME,RM_CODE,RM_NAME,Post TRAN_AMT_VAL,Post TRAN_AMT
0,160450435,160,11/30/2022 0:00,160450435,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
1,160402430,160,11/15/2022 0:00,160402430,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
2,160417547,160,12/29/2022 0:00,160417547,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
3,160416279,160,1/19/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
4,160416279,297,1/20/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14107,160007006,160,1/19/2023 0:00,160007006,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",7050000,"?7,050,000.00"
14108,160007700,160,1/24/2023 0:00,160007700,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",13357400,"?13,357,400.00"
14109,161002647,160,1/20/2023 0:00,161002647,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5779000,"?5,779,000.00"
14110,160428214,160,11/10/2022 0:00,160428214,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",6000000,"?6,000,000.00"
14111,160428214,160,1/19/2023 0:00,160428214,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",10500000,"?10,500,000.00"

In [6]:
# head() method : used to preview sub-sections of the dataframe
df.head(10)

,CUST_ID,DTH_INIT_SOL_ID,TRAN_DATE,Post Customer,PART_TRAN_TYPE,TRAN_SUB_TYPE,BU_CODE,BU_NAME,GROUP_CODE,GROUP_NAME,TEAM_CODE,TEAM_NAME,DESK_CODE,DESK_NAME,RM_CODE,RM_NAME,Post TRAN_AMT_VAL,Post TRAN_AMT
0,160450435,160,11/30/2022 0:00,160450435,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
1,160402430,160,11/15/2022 0:00,160402430,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
2,160417547,160,12/29/2022 0:00,160417547,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
3,160416279,160,1/19/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
4,160416279,297,1/20/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
5,160421834,160,11/2/2022 0:00,160421834,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
6,160002266,130,12/15/2022 0:00,160002266,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
7,160419624,160,1/13/2023 0:00,160419624,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
8,160403908,160,1/3/2023 0:00,160403908,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
9,160006529,160,11/25/2022 0:00,160006529,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"

In [7]:
#info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14112 entries, 0 to 14111
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CUST_ID            14112 non-null  int64
 1   DTH_INIT_SOL_ID    14112 non-null  int64
 2   TRAN_DATE          14112 non-null  object
 3   Post Customer      14112 non-null  int64
 4   PART_TRAN_TYPE     14112 non-null  object
 5   TRAN_SUB_TYPE      14112 non-null  object
 6   BU_CODE            14075 non-null  object
 7   BU_NAME            14075 non-null  object
 8   GROUP_CODE         14075 non-null  object
 9   GROUP_NAME         14075 non-null  object
 10  TEAM_CODE          14075 non-null  object
 11  TEAM_NAME          14075 non-null  object
 12  DESK_CODE          14075 non-null  object
 13  DESK_NAME          14075 non-null  object
 14  RM_CODE            14075 non-null  object
 15  RM_NAME            14075 non-null  object
 16  Post TRAN_AMT_VAL  14112 non-null  int64
 17  Post TRAN_AMT      14112 non-null  object
dtypes: int64(4), object(14)
memory usage: 1.9+ MB

In [8]:
#describe : a key pandas method used to gather statistical summary of your dataset
df.describe()

            CUST_ID  DTH_INIT_SOL_ID  Post Customer  Post TRAN_AMT_VAL
count  1.411200e+04     14112.000000   1.411200e+04       1.411200e+04
mean   4.182466e+08       425.117843   4.182466e+08       7.826613e+06
std    2.007601e+08       208.744979   2.007601e+08       5.603334e+06
min    1.010172e+08       101.000000   1.010172e+08       5.000000e+06
25%    2.290086e+08       246.000000   2.290086e+08       5.144712e+06
50%    3.884237e+08       395.000000   3.884237e+08       6.180228e+06
75%    5.834162e+08       601.000000   5.834162e+08       8.527082e+06
max    8.914004e+08       999.000000   8.914004e+08       2.500000e+08

In [9]:
df.columns

Index(['CUST_ID', 'DTH_INIT_SOL_ID', 'TRAN_DATE', 'Post Customer',
       'PART_TRAN_TYPE', 'TRAN_SUB_TYPE', 'BU_CODE', 'BU_NAME', 'GROUP_CODE',
       'GROUP_NAME', 'TEAM_CODE', 'TEAM_NAME', 'DESK_CODE', 'DESK_NAME',
       'RM_CODE', 'RM_NAME', 'Post TRAN_AMT_VAL', 'Post TRAN_AMT'],
      dtype='object')

In [10]:
df.index

RangeIndex(start=0, stop=14112, step=1)

-Business Understanding - Data Understanding - Modelling - Model Evaluation - Deployment -monitoring

In [11]:
#Data Sorting 
df.describe()

            CUST_ID  DTH_INIT_SOL_ID  Post Customer  Post TRAN_AMT_VAL
count  1.411200e+04     14112.000000   1.411200e+04       1.411200e+04
mean   4.182466e+08       425.117843   4.182466e+08       7.826613e+06
std    2.007601e+08       208.744979   2.007601e+08       5.603334e+06
min    1.010172e+08       101.000000   1.010172e+08       5.000000e+06
25%    2.290086e+08       246.000000   2.290086e+08       5.144712e+06
50%    3.884237e+08       395.000000   3.884237e+08       6.180228e+06
75%    5.834162e+08       601.000000   5.834162e+08       8.527082e+06
max    8.914004e+08       999.000000   8.914004e+08       2.500000e+08

In [12]:
df.columns

Index(['CUST_ID', 'DTH_INIT_SOL_ID', 'TRAN_DATE', 'Post Customer',
       'PART_TRAN_TYPE', 'TRAN_SUB_TYPE', 'BU_CODE', 'BU_NAME', 'GROUP_CODE',
       'GROUP_NAME', 'TEAM_CODE', 'TEAM_NAME', 'DESK_CODE', 'DESK_NAME',
       'RM_CODE', 'RM_NAME', 'Post TRAN_AMT_VAL', 'Post TRAN_AMT'],
      dtype='object')

In [16]:
#Column \ Statistical Analysis 
print(df['Post TRAN_AMT_VAL'].mean())
print(df['Post TRAN_AMT_VAL'].min())
print(df['Post TRAN_AMT_VAL'].max())
print(df['Post TRAN_AMT_VAL'].median())
print(df['Post TRAN_AMT_VAL'].mode())
print(df['Post TRAN_AMT_VAL'].std())

7826612.679776077
5000000
250000000
6180227.5
0    5000000
Name: Post TRAN_AMT_VAL, dtype: int64
5603334.005500579

In [17]:
df.head(5)

,CUST_ID,DTH_INIT_SOL_ID,TRAN_DATE,Post Customer,PART_TRAN_TYPE,TRAN_SUB_TYPE,BU_CODE,BU_NAME,GROUP_CODE,GROUP_NAME,TEAM_CODE,TEAM_NAME,DESK_CODE,DESK_NAME,RM_CODE,RM_NAME,Post TRAN_AMT_VAL,Post TRAN_AMT
0,160450435,160,11/30/2022 0:00,160450435,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
1,160402430,160,11/15/2022 0:00,160402430,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
2,160417547,160,12/29/2022 0:00,160417547,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
3,160416279,160,1/19/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
4,160416279,297,1/20/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"

In [18]:
df1 = df.copy()
df1.head()

,CUST_ID,DTH_INIT_SOL_ID,TRAN_DATE,Post Customer,PART_TRAN_TYPE,TRAN_SUB_TYPE,BU_CODE,BU_NAME,GROUP_CODE,GROUP_NAME,TEAM_CODE,TEAM_NAME,DESK_CODE,DESK_NAME,RM_CODE,RM_NAME,Post TRAN_AMT_VAL,Post TRAN_AMT
0,160450435,160,11/30/2022 0:00,160450435,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
1,160402430,160,11/15/2022 0:00,160402430,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
2,160417547,160,12/29/2022 0:00,160417547,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
3,160416279,160,1/19/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
4,160416279,297,1/20/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"

In [20]:
#Group Summaries : single 
df1.groupby("BU_NAME")["Post TRAN_AMT_VAL"].sum()

BU_NAME
AGB FREECODE 6                         204009300
COMMERCIAL BANKING                    4519177802
CORPORATE BANKING                     1796527144
CORPORATE OFFICE                        68275139
CPC DEFAULT FREE CODE 6                585402675
LAGOS & WEST REGION                  23049517223
NORTH REGION                         54705773797
PUBLIC SECTOR GROUP                    775501642
RETAIL OTHERS                          334311000
SOUTH REGION                         23237431045
TREASURY & FINANCIAL INSTITUTIONS      169880500
USSD FREECODE 6                        714530800
Name: Post TRAN_AMT_VAL, dtype: int64

In [21]:
#Group Summaries : multiple
df1.groupby("BU_NAME")["Post TRAN_AMT_VAL"].agg([min,max,sum])

C:\Users\Admin\AppData\Local\Temp\ipykernel_21164\2258626894.py:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df1.groupby("BU_NAME")["Post TRAN_AMT_VAL"].agg([min,max,sum])
C:\Users\Admin\AppData\Local\Temp\ipykernel_21164\2258626894.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df1.groupby("BU_NAME")["Post TRAN_AMT_VAL"].agg([min,max,sum])
C:\Users\Admin\AppData\Local\Temp\ipykernel_21164\2258626894.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df1.groupby("BU_NAME")["Post TRAN_AMT_VAL"].agg([min,max,sum])

                                       min        max          sum
BU_NAME
AGB FREECODE 6                     5000000   20000000    204009300
COMMERCIAL BANKING                 5000000   65344725   4519177802
CORPORATE BANKING                  5000000   70000000   1796527144
CORPORATE OFFICE                   5147400   32360239     68275139
CPC DEFAULT FREE CODE 6            5000000   34610450    585402675
LAGOS & WEST REGION                5000000  250000000  23049517223
NORTH REGION                       5000000  132650200  54705773797
PUBLIC SECTOR GROUP                5000000  143532890    775501642
RETAIL OTHERS                      5000000   25151000    334311000
SOUTH REGION                       5000000   50000000  23237431045
TREASURY & FINANCIAL INSTITUTIONS  6921000   31600000    169880500
USSD FREECODE 6                    5000000   17891910    714530800

In [22]:
#Group Summaries : multiple
df1.groupby(["BU_NAME","GROUP_NAME"])["Post TRAN_AMT_VAL"].agg([min,max,sum])

C:\Users\Admin\AppData\Local\Temp\ipykernel_21164\775933587.py:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df1.groupby(["BU_NAME","GROUP_NAME"])["Post TRAN_AMT_VAL"].agg([min,max,sum])
C:\Users\Admin\AppData\Local\Temp\ipykernel_21164\775933587.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df1.groupby(["BU_NAME","GROUP_NAME"])["Post TRAN_AMT_VAL"].agg([min,max,sum])
C:\Users\Admin\AppData\Local\Temp\ipykernel_21164\775933587.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df1.groupby(["BU_NAME","GROUP_NAME"])["Post TRAN_AMT_VAL"].agg([min,max,sum])

                                                                              min  \
BU_NAME                           GROUP_NAME
AGB FREECODE 6                    AGB FREECODE 7                          5000000
COMMERCIAL BANKING                CMB - LAGOS CENTRAL                     5000000
                                  CMB - LAGOS MAINLAND                    5000000
                                  CMB - LAGOS MAINLAND 2                  5000000
                                  CMB - Lagos Island                      5000000
                                  CMB - NORTH                             5000000
                                  CMB - SOUTH EAST                        5000000
                                  CMB - SOUTH SOUTH 2                     5000000
                                  CMB - SOUTH WEST                        5020920
                                  CMB - South South                       5016410
CORPORATE BANKING                 CBG - ENERGY DOWNSTREAM                 5000200
                                  CBG - ENERGY UPSTREAM & MINING          5000000
                                  CBG - INFRASTRUCTURE                   12000000
                                  CBG - MANUFACTURING 1                   5000000
                                  CBG - MANUFACTURING 2                   5000000
                                  CBG - SERVICES  & CONGLOMERATES         5018450
                                  CBG - TELECOMS AND OTHER CONGLOMERATE   5000000
CORPORATE OFFICE                  CO - COPORATE OFFICE                   32360239
                                  NON - DIRECT MKTING                     5147400
CPC DEFAULT FREE CODE 6           CPC DEFAULT FREE CODE 7                 5000000
LAGOS & WEST REGION               LWR -  LAGOS CENTRAL (CMB)              5000000
                                  LWR -  LAGOS ISLAND (CMB)               7354930
                                  LWR -  SOUTH WEST (CMB)                 5600000
                                  LWR -  SOUTH WEST 1                     5000000
                                  LWR -  SOUTH WEST 2                     5000000
                                  LWR - LAGOS CENTRAL                     5000000
                                  LWR - LAGOS MAINLAND1 (CMB)             5000000
                                  LWR-EDO                                 5000000
                                  LWR-LAGOS ISLAND 1                      5000000
                                  LWR-LAGOS ISLAND 2                      5000000
                                  LWR-LAGOS MAINLAND 1                    5000000
                                  LWR-LAGOS MAINLAND 2                    5000000
NORTH REGION                      NRG - NORTH (CMB)                       5000000
                                  NRG - NORTH 2 (CMB)                    24422750
                                  NRG-ABUJA 1                             5000000
                                  NRG-ABUJA 2                             5000000
                                  NRG-NORTH CENTRAL 1                     5000000
                                  NRG-NORTH CENTRAL 2                     5000000
                                  NRG-NORTH EAST                          5000000
                                  NRG-NORTH WEST 1                        5000000
                                  NRG-NORTH WEST 2                        5000000
PUBLIC SECTOR GROUP               PSG - NORTH 1                           5000000
                                  PSG - NORTH 2                           5000000
                                  PSG - SOUTH_SOUTH                       5000000
                                  PSG - WEST                              5316659
RETAIL OTHERS                     DEB - DIASPORA & EXPATRIATE BANKING     5000000
                                  PVT - LAGOS                             5000000
                                  PVT - PRIVATE BANKING                   5000000
SOUTH REGION                      SRG - SOUTH EAST (CMB)                  5000000
                                  SRG - SOUTH EAST 1                      5000000
                                  SRG - SOUTH EAST 2                      5000000
                                  SRG - SOUTH EAST 3                      5000000
                                  SRG - SOUTH SOUTH 1                     5000000
                                  SRG - SOUTH SOUTH 1 (CMB)               6879500
                                  SRG - SOUTH SOUTH 2                     5000000
                                  SRG - SOUTH SOUTH 2 (CMB)               5000000
                                  SRG - SOUTH SOUTH 3                     5000000
TREASURY & FINANCIAL INSTITUTIONS TFI - FINANCIAL INSTITUTIONS            6921000
USSD FREECODE 6                   USSD FREECODE 7                         5000000

                                                                               max  \
BU_NAME                           GROUP_NAME
AGB FREECODE 6                    AGB FREECODE 7                          20000000
COMMERCIAL BANKING                CMB - LAGOS CENTRAL                     24942000
                                  CMB - LAGOS MAINLAND                     7000000
                                  CMB - LAGOS MAINLAND 2                  21124000
                                  CMB - Lagos Island                      24230000
                                  CMB - NORTH                             65344725
                                  CMB - SOUTH EAST                        50000000
                                  CMB - SOUTH SOUTH 2                     24860000
                                  CMB - SOUTH WEST                        25510000
                                  CMB - South South                       11304600
CORPORATE BANKING                 CBG - ENERGY DOWNSTREAM                 24000000
                                  CBG - ENERGY UPSTREAM & MINING           8797900
                                  CBG - INFRASTRUCTURE                    12000000
                                  CBG - MANUFACTURING 1                   33000000
                                  CBG - MANUFACTURING 2                   70000000
                                  CBG - SERVICES  & CONGLOMERATES         25425000
                                  CBG - TELECOMS AND OTHER CONGLOMERATE   48504000
CORPORATE OFFICE                  CO - COPORATE OFFICE                    32360239
                                  NON - DIRECT MKTING                     15038000
CPC DEFAULT FREE CODE 6           CPC DEFAULT FREE CODE 7                 34610450
LAGOS & WEST REGION               LWR -  LAGOS CENTRAL (CMB)              12800000
                                  LWR -  LAGOS ISLAND (CMB)                7354930
                                  LWR -  SOUTH WEST (CMB)                 25000000
                                  LWR -  SOUTH WEST 1                     71500000
                                  LWR -  SOUTH WEST 2                    250000000
                                  LWR - LAGOS CENTRAL                     44520000
                                  LWR - LAGOS MAINLAND1 (CMB)             14907820
                                  LWR-EDO                                 46074000
                                  LWR-LAGOS ISLAND 1                      38015000
                                  LWR-LAGOS ISLAND 2                      25000000
                                  LWR-LAGOS MAINLAND 1                    54000000
                                  LWR-LAGOS MAINLAND 2                    50000000
NORTH REGION                      NRG - NORTH (CMB)                       43500000
                                  NRG - NORTH 2 (CMB)                     24422750
                                  NRG-ABUJA 1                             51400000
                                  NRG-ABUJA 2                             51900000
                                  NRG-NORTH CENTRAL 1                     78000000
                                  NRG-NORTH CENTRAL 2                     35100000
                                  NRG-NORTH EAST                          85547254
                                  NRG-NORTH WEST 1                        90000000
                                  NRG-NORTH WEST 2                       132650200
PUBLIC SECTOR GROUP               PSG - NORTH 1                           20500000
                                  PSG - NORTH 2                          117901286
                                  PSG - SOUTH_SOUTH                      143532890
                                  PSG - WEST                              20000000
RETAIL OTHERS                     DEB - DIASPORA & EXPATRIATE BANKING     25151000
                                  PVT - LAGOS                             14977000
                                  PVT - PRIVATE BANKING                   19500000
SOUTH REGION                      SRG - SOUTH EAST (CMB)                  17412360
                                  SRG - SOUTH EAST 1                      41500000
                                  SRG - SOUTH EAST 2                      39000000
                                  SRG - SOUTH EAST 3                      38121985
                                  SRG - SOUTH SOUTH 1                     28750000
                                  SRG - SOUTH SOUTH 1 (CMB)               26323800
                                  SRG - SOUTH SOUTH 2                     25000000
                                  SRG - SOUTH SOUTH 2 (CMB)                9256525
                                  SRG - SOUTH SOUTH 3                     50000000
TREASURY & FINANCIAL INSTITUTIONS TFI - FINANCIAL INSTITUTIONS            31600000
USSD FREECODE 6                   USSD FREECODE 7                         17891910

                                                                                 sum
BU_NAME                           GROUP_NAME
AGB FREECODE 6                    AGB FREECODE 7                           204009300
COMMERCIAL BANKING                CMB - LAGOS CENTRAL                      280066585
                                  CMB - LAGOS MAINLAND                      32483000
                                  CMB - LAGOS MAINLAND 2                   479838830
                                  CMB - Lagos Island                       122430000
                                  CMB - NORTH                             1045982500
                                  CMB - SOUTH EAST                        1849414855
                                  CMB - SOUTH SOUTH 2                      163771805
                                  CMB - SOUTH WEST                         449886247
                                  CMB - South South                         95303980
CORPORATE BANKING                 CBG - ENERGY DOWNSTREAM                  355604559
                                  CBG - ENERGY UPSTREAM & MINING            13797900
                                  CBG - INFRASTRUCTURE                      12000000
                                  CBG - MANUFACTURING 1                    445427650
                                  CBG - MANUFACTURING 2                    408065070
                                  CBG - SERVICES  & CONGLOMERATES          288189650
                                  CBG - TELECOMS AND OTHER CONGLOMERATE    273442315
CORPORATE OFFICE                  CO - COPORATE OFFICE                      32360239
                                  NON - DIRECT MKTING                       35914900
CPC DEFAULT FREE CODE 6           CPC DEFAULT FREE CODE 7                  585402675
LAGOS & WEST REGION               LWR -  LAGOS CENTRAL (CMB)               150315460
                                  LWR -  LAGOS ISLAND (CMB)                  7354930
                                  LWR -  SOUTH WEST (CMB)                   89376480
                                  LWR -  SOUTH WEST 1                     5038369341
                                  LWR -  SOUTH WEST 2                     3672979513
                                  LWR - LAGOS CENTRAL                     1564338480
                                  LWR - LAGOS MAINLAND1 (CMB)              514342110
                                  LWR-EDO                                 2751186768
                                  LWR-LAGOS ISLAND 1                      2367278081
                                  LWR-LAGOS ISLAND 2                       809669748
                                  LWR-LAGOS MAINLAND 1                    2874943008
                                  LWR-LAGOS MAINLAND 2                    3209363304
NORTH REGION                      NRG - NORTH (CMB)                       1119454560
                                  NRG - NORTH 2 (CMB)                       24422750
                                  NRG-ABUJA 1                             1301683410
                                  NRG-ABUJA 2                             4794000881
                                  NRG-NORTH CENTRAL 1                     6849326903
                                  NRG-NORTH CENTRAL 2                     7642499265
                                  NRG-NORTH EAST                         12574494134
                                  NRG-NORTH WEST 1                        9334695940
                                  NRG-NORTH WEST 2                       11065195954
PUBLIC SECTOR GROUP               PSG - NORTH 1                            169366016
                                  PSG - NORTH 2                            127901286
                                  PSG - SOUTH_SOUTH                        289251390
                                  PSG - WEST                               188982950
RETAIL OTHERS                     DEB - DIASPORA & EXPATRIATE BANKING       59951000
                                  PVT - LAGOS                               57817000
                                  PVT - PRIVATE BANKING                    216543000
SOUTH REGION                      SRG - SOUTH EAST (CMB)                   239982955
                                  SRG - SOUTH EAST 1                      4272927209
                                  SRG - SOUTH EAST 2                      2995029910
                                  SRG - SOUTH EAST 3                      5690914000
                                  SRG - SOUTH SOUTH 1                     2754671191
                                  SRG - SOUTH SOUTH 1 (CMB)                110021300
                                  SRG - SOUTH SOUTH 2                     2200233319
                                  SRG - SOUTH SOUTH 2 (CMB)                109983840
                                  SRG - SOUTH SOUTH 3                     4863667321
TREASURY & FINANCIAL INSTITUTIONS TFI - FINANCIAL INSTITUTIONS             169880500
USSD FREECODE 6                   USSD FREECODE 7                          714530800

In [26]:
import numpy as np
df1.pivot_table(values = "Post TRAN_AMT_VAL", index = "BU_NAME", aggfunc =[np.median, np.mean])

C:\Users\Admin\AppData\Local\Temp\ipykernel_21164\548200272.py:2: FutureWarning: The provided callable <function median at 0x000002031614A5C0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df1.pivot_table(values = "Post TRAN_AMT_VAL", index = "BU_NAME", aggfunc =[np.median, np.mean])
C:\Users\Admin\AppData\Local\Temp\ipykernel_21164\548200272.py:2: FutureWarning: The provided callable <function mean at 0x0000020315F3C680> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df1.pivot_table(values = "Post TRAN_AMT_VAL", index = "BU_NAME", aggfunc =[np.median, np.mean])

                                             median              mean
                                  Post TRAN_AMT_VAL Post TRAN_AMT_VAL
BU_NAME
AGB FREECODE 6                            6900000.0      8.160372e+06
COMMERCIAL BANKING                        7250000.0      9.998181e+06
CORPORATE BANKING                         6400753.5      9.073369e+06
CORPORATE OFFICE                          8000000.0      1.365503e+07
CPC DEFAULT FREE CODE 6                   6000000.0      8.019215e+06
LAGOS & WEST REGION                       6100000.0      7.637348e+06
NORTH REGION                              6376000.0      8.061564e+06
PUBLIC SECTOR GROUP                       8000000.0      1.615628e+07
RETAIL OTHERS                             7000000.0      9.035432e+06
SOUTH REGION                              5950020.0      7.016133e+06
TREASURY & FINANCIAL INSTITUTIONS         9484750.0      1.061753e+07
USSD FREECODE 6                           5600000.0      6.805055e+06

In [24]:

df1.pivot_table(values = "Post TRAN_AMT_VAL", index =["BU_NAME","GROUP_NAME"], aggfunc = np.median)

C:\Users\Admin\AppData\Local\Temp\ipykernel_21164\2810226249.py:2: FutureWarning: The provided callable <function median at 0x000002031614A5C0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df1.pivot_table(values = "Post TRAN_AMT_VAL", index =["BU_NAME","GROUP_NAME"], aggfunc = np.median)

                                                                         Post TRAN_AMT_VAL
BU_NAME                           GROUP_NAME
AGB FREECODE 6                    AGB FREECODE 7                                 6900000.0
COMMERCIAL BANKING                CMB - LAGOS CENTRAL                            7412725.0
                                  CMB - LAGOS MAINLAND                           5094000.0
                                  CMB - LAGOS MAINLAND 2                         7333400.0
                                  CMB - Lagos Island                             8012500.0
                                  CMB - NORTH                                    7287550.0
                                  CMB - SOUTH EAST                               7494392.5
                                  CMB - SOUTH SOUTH 2                            7965000.0
                                  CMB - SOUTH WEST                               6612500.0
                                  CMB - South South                              7136290.0
CORPORATE BANKING                 CBG - ENERGY DOWNSTREAM                        6000281.0
                                  CBG - ENERGY UPSTREAM & MINING                 6898950.0
                                  CBG - INFRASTRUCTURE                          12000000.0
                                  CBG - MANUFACTURING 1                          7375000.0
                                  CBG - MANUFACTURING 2                          9225000.0
                                  CBG - SERVICES  & CONGLOMERATES                9096750.0
                                  CBG - TELECOMS AND OTHER CONGLOMERATE          5795420.0
CORPORATE OFFICE                  CO - COPORATE OFFICE                          32360239.0
                                  NON - DIRECT MKTING                            7864750.0
CPC DEFAULT FREE CODE 6           CPC DEFAULT FREE CODE 7                        6000000.0
LAGOS & WEST REGION               LWR -  LAGOS CENTRAL (CMB)                     5872800.0
                                  LWR -  LAGOS ISLAND (CMB)                      7354930.0
                                  LWR -  SOUTH WEST (CMB)                        7560000.0
                                  LWR -  SOUTH WEST 1                            6000000.0
                                  LWR -  SOUTH WEST 2                            6160000.0
                                  LWR - LAGOS CENTRAL                            5788750.0
                                  LWR - LAGOS MAINLAND1 (CMB)                    7537400.0
                                  LWR-EDO                                        6228320.0
                                  LWR-LAGOS ISLAND 1                             5720000.0
                                  LWR-LAGOS ISLAND 2                             7087400.0
                                  LWR-LAGOS MAINLAND 1                           6375000.0
                                  LWR-LAGOS MAINLAND 2                           6340700.0
NORTH REGION                      NRG - NORTH (CMB)                              8250000.0
                                  NRG - NORTH 2 (CMB)                           24422750.0
                                  NRG-ABUJA 1                                    5982585.0
                                  NRG-ABUJA 2                                    6000000.0
                                  NRG-NORTH CENTRAL 1                            6361600.0
                                  NRG-NORTH CENTRAL 2                            6146750.0
                                  NRG-NORTH EAST                                 6300000.0
                                  NRG-NORTH WEST 1                               6800000.0
                                  NRG-NORTH WEST 2                               6543985.0
PUBLIC SECTOR GROUP               PSG - NORTH 1                                  7055000.0
                                  PSG - NORTH 2                                  5000000.0
                                  PSG - SOUTH_SOUTH                              9200000.0
                                  PSG - WEST                                     8000000.0
RETAIL OTHERS                     DEB - DIASPORA & EXPATRIATE BANKING            5900000.0
                                  PVT - LAGOS                                    7000000.0
                                  PVT - PRIVATE BANKING                          7000000.0
SOUTH REGION                      SRG - SOUTH EAST (CMB)                         6500000.0
                                  SRG - SOUTH EAST 1                             5980000.0
                                  SRG - SOUTH EAST 2                             5964840.0
                                  SRG - SOUTH EAST 3                             5800000.0
                                  SRG - SOUTH SOUTH 1                            6000000.0
                                  SRG - SOUTH SOUTH 1 (CMB)                      9563000.0
                                  SRG - SOUTH SOUTH 2                            6235000.0
                                  SRG - SOUTH SOUTH 2 (CMB)                      6537700.0
                                  SRG - SOUTH SOUTH 3                            5729400.0
TREASURY & FINANCIAL INSTITUTIONS TFI - FINANCIAL INSTITUTIONS                   9484750.0
USSD FREECODE 6                   USSD FREECODE 7                                5600000.0

In [28]:
df1.head(5)

,CUST_ID,DTH_INIT_SOL_ID,TRAN_DATE,Post Customer,PART_TRAN_TYPE,TRAN_SUB_TYPE,BU_CODE,BU_NAME,GROUP_CODE,GROUP_NAME,TEAM_CODE,TEAM_NAME,DESK_CODE,DESK_NAME,RM_CODE,RM_NAME,Post TRAN_AMT_VAL,Post TRAN_AMT
0,160450435,160,11/30/2022 0:00,160450435,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
1,160402430,160,11/15/2022 0:00,160402430,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
2,160417547,160,12/29/2022 0:00,160417547,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
3,160416279,160,1/19/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
4,160416279,297,1/20/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"

In [36]:
#Subsetting Pandas
df1[df1["BU_NAME"].isin(["COMMERCIAL BANKING","RETAIL OTHERS"])]

,CUST_ID,DTH_INIT_SOL_ID,TRAN_DATE,Post Customer,PART_TRAN_TYPE,TRAN_SUB_TYPE,BU_CODE,BU_NAME,GROUP_CODE,GROUP_NAME,TEAM_CODE,TEAM_NAME,DESK_CODE,DESK_NAME,RM_CODE,RM_NAME,Post TRAN_AMT_VAL,Post TRAN_AMT
2873,554002666,554,1/17/2023 0:00,554002666,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70903,CMB - South East - Onitsha,50351,SRG - Upper New Market Road Desk (CMB),24643,EMEKA UBAKA NWEJE,5000000,"?5,000,000.00"
2874,212020635,370,12/20/2022 0:00,212020635,CREDIT,NR,7,COMMERCIAL BANKING,706,CMB - NORTH,70603,CMB - NORTH - KADUNA,49751,NRG - Kaduna Central Market Branch (CMB),17857,"AYOOLA, Mrs. AISHA AYODEJI",5000000,"?5,000,000.00"
2875,212020635,370,1/3/2023 0:00,212020635,CREDIT,NR,7,COMMERCIAL BANKING,706,CMB - NORTH,70603,CMB - NORTH - KADUNA,49751,NRG - Kaduna Central Market Branch (CMB),17857,"AYOOLA, Mrs. AISHA AYODEJI",5000000,"?5,000,000.00"
2877,496001721,119,1/27/2023 0:00,496001721,CREDIT,NR,8,RETAIL OTHERS,802,PVT - LAGOS,80202,PVT - LAGOS - TEAM 2,89092,PVT - LAGOS 1 - TEAM 1,25141,FUNMILOLA O ADEYEMO,5000000,"?5,000,000.00"
2879,180044092,821,12/16/2022 0:00,180044092,CREDIT,NR,8,RETAIL OTHERS,801,PVT - PRIVATE BANKING,80103,PVT - LAGOS 1,40691,PVT - ABUJA - TEAM 2,27546,OLUKAYODE Y. OPASANYA,5000000,"?5,000,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3855,466407899,466,12/15/2022 0:00,466407899,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70903,CMB - South East - Onitsha,50351,SRG - Upper New Market Road Desk (CMB),24643,EMEKA UBAKA NWEJE,10500000,"?10,500,000.00"
3856,466407899,466,12/20/2022 0:00,466407899,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70903,CMB - South East - Onitsha,50351,SRG - Upper New Market Road Desk (CMB),24643,EMEKA UBAKA NWEJE,12500000,"?12,500,000.00"
3857,466407899,466,1/10/2023 0:00,466407899,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70903,CMB - South East - Onitsha,50351,SRG - Upper New Market Road Desk (CMB),24643,EMEKA UBAKA NWEJE,7500000,"?7,500,000.00"
3858,466407899,466,1/17/2023 0:00,466407899,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70903,CMB - South East - Onitsha,50351,SRG - Upper New Market Road Desk (CMB),24643,EMEKA UBAKA NWEJE,9500000,"?9,500,000.00"
3859,466407899,466,1/18/2023 0:00,466407899,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70903,CMB - South East - Onitsha,50351,SRG - Upper New Market Road Desk (CMB),24643,EMEKA UBAKA NWEJE,8000000,"?8,000,000.00"

In [37]:
df1["GROUP_NAME"]

0        NRG-NORTH EAST
1        NRG-NORTH EAST
2        NRG-NORTH EAST
3        NRG-NORTH EAST
4        NRG-NORTH EAST
              ...
14107    NRG-NORTH EAST
14108    NRG-NORTH EAST
14109    NRG-NORTH EAST
14110    NRG-NORTH EAST
14111    NRG-NORTH EAST
Name: GROUP_NAME, Length: 14112, dtype: object

In [38]:
#Count the customers from the following group name 
#CMB - NORTH, CMB - SOUTH EAST

In [40]:
df1[df1["GROUP_NAME"].isin(["CMB - NORTH","CMB - SOUTH EAST"])].count()

CUST_ID              265
DTH_INIT_SOL_ID      265
TRAN_DATE            265
Post Customer        265
PART_TRAN_TYPE       265
TRAN_SUB_TYPE        265
BU_CODE              265
BU_NAME              265
GROUP_CODE           265
GROUP_NAME           265
TEAM_CODE            265
TEAM_NAME            265
DESK_CODE            265
DESK_NAME            265
RM_CODE              265
RM_NAME              265
Post TRAN_AMT_VAL    265
Post TRAN_AMT        265
dtype: int64

In [41]:
df1[df1["GROUP_NAME"].isin(["CMB - NORTH","CMB - SOUTH EAST"])]

,CUST_ID,DTH_INIT_SOL_ID,TRAN_DATE,Post Customer,PART_TRAN_TYPE,TRAN_SUB_TYPE,BU_CODE,BU_NAME,GROUP_CODE,GROUP_NAME,TEAM_CODE,TEAM_NAME,DESK_CODE,DESK_NAME,RM_CODE,RM_NAME,Post TRAN_AMT_VAL,Post TRAN_AMT
2873,554002666,554,1/17/2023 0:00,554002666,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70903,CMB - South East - Onitsha,50351,SRG - Upper New Market Road Desk (CMB),24643,EMEKA UBAKA NWEJE,5000000,"?5,000,000.00"
2874,212020635,370,12/20/2022 0:00,212020635,CREDIT,NR,7,COMMERCIAL BANKING,706,CMB - NORTH,70603,CMB - NORTH - KADUNA,49751,NRG - Kaduna Central Market Branch (CMB),17857,"AYOOLA, Mrs. AISHA AYODEJI",5000000,"?5,000,000.00"
2875,212020635,370,1/3/2023 0:00,212020635,CREDIT,NR,7,COMMERCIAL BANKING,706,CMB - NORTH,70603,CMB - NORTH - KADUNA,49751,NRG - Kaduna Central Market Branch (CMB),17857,"AYOOLA, Mrs. AISHA AYODEJI",5000000,"?5,000,000.00"
2883,200020294,356,12/16/2022 0:00,200020294,CREDIT,NR,7,COMMERCIAL BANKING,706,CMB - NORTH,70602,CMB - NORTH - JOS,20051,NRG - Jos Main Branch (CMB),21592,"OLOBAYO, Mr. ADELAJA SOLOMON",5000000,"?5,000,000.00"
2889,651001409,154,11/9/2022 0:00,651001409,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70901,CMB - South East - Enugu,65151,SRG - Presidential Road Desk (CMB),26040,JOHN OKECHUKWU AGBAKOBA,5000000,"?5,000,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3855,466407899,466,12/15/2022 0:00,466407899,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70903,CMB - South East - Onitsha,50351,SRG - Upper New Market Road Desk (CMB),24643,EMEKA UBAKA NWEJE,10500000,"?10,500,000.00"
3856,466407899,466,12/20/2022 0:00,466407899,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70903,CMB - South East - Onitsha,50351,SRG - Upper New Market Road Desk (CMB),24643,EMEKA UBAKA NWEJE,12500000,"?12,500,000.00"
3857,466407899,466,1/10/2023 0:00,466407899,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70903,CMB - South East - Onitsha,50351,SRG - Upper New Market Road Desk (CMB),24643,EMEKA UBAKA NWEJE,7500000,"?7,500,000.00"
3858,466407899,466,1/17/2023 0:00,466407899,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70903,CMB - South East - Onitsha,50351,SRG - Upper New Market Road Desk (CMB),24643,EMEKA UBAKA NWEJE,9500000,"?9,500,000.00"
3859,466407899,466,1/18/2023 0:00,466407899,CREDIT,NR,7,COMMERCIAL BANKING,709,CMB - SOUTH EAST,70903,CMB - South East - Onitsha,50351,SRG - Upper New Market Road Desk (CMB),24643,EMEKA UBAKA NWEJE,8000000,"?8,000,000.00"

In [42]:
# Loc and iloc filtering 
# Pandas support dataframe 
df1.head(5)

,CUST_ID,DTH_INIT_SOL_ID,TRAN_DATE,Post Customer,PART_TRAN_TYPE,TRAN_SUB_TYPE,BU_CODE,BU_NAME,GROUP_CODE,GROUP_NAME,TEAM_CODE,TEAM_NAME,DESK_CODE,DESK_NAME,RM_CODE,RM_NAME,Post TRAN_AMT_VAL,Post TRAN_AMT
0,160450435,160,11/30/2022 0:00,160450435,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
1,160402430,160,11/15/2022 0:00,160402430,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
2,160417547,160,12/29/2022 0:00,160417547,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
3,160416279,160,1/19/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
4,160416279,297,1/20/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"

In [49]:
df1[df1["BU_NAME"]=="NORTH REGION"]

,CUST_ID,DTH_INIT_SOL_ID,TRAN_DATE,Post Customer,PART_TRAN_TYPE,TRAN_SUB_TYPE,BU_CODE,BU_NAME,GROUP_CODE,GROUP_NAME,TEAM_CODE,TEAM_NAME,DESK_CODE,DESK_NAME,RM_CODE,RM_NAME,Post TRAN_AMT_VAL,Post TRAN_AMT
0,160450435,160,11/30/2022 0:00,160450435,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
1,160402430,160,11/15/2022 0:00,160402430,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
2,160417547,160,12/29/2022 0:00,160417547,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
3,160416279,160,1/19/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
4,160416279,297,1/20/2023 0:00,160416279,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5000000,"?5,000,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14107,160007006,160,1/19/2023 0:00,160007006,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",7050000,"?7,050,000.00"
14108,160007700,160,1/24/2023 0:00,160007700,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",13357400,"?13,357,400.00"
14109,161002647,160,1/20/2023 0:00,161002647,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",5779000,"?5,779,000.00"
14110,160428214,160,11/10/2022 0:00,160428214,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",6000000,"?6,000,000.00"
14111,160428214,160,1/19/2023 0:00,160428214,CREDIT,NR,6,NORTH REGION,605,NRG-NORTH EAST,60502,NRG-RBN - MAIDUGURI,16075,NRG - GASHUA,23977,"UMAR, Mr. ILIYASU YAKUBU",10500000,"?10,500,000.00"

In [5]:
#
df_dummy = pd.DataFrame( 
{ 
"city": ["London", "London", "Leeds", "Leeds", "Bristol"], 
"year": [2023, 2024, 2023, 2024, 2024], 
"sales": [120, 140, 90, 95, 110], 
"cost": [70, 80, 55, 60, 65], 
}, 
index=["a","b","c","d","e"]  # explicit row labels 
) 

df_dummy
#loc & iloc

      city  year  sales  cost
a   London  2023    120    70
b   London  2024    140    80
c    Leeds  2023     90    55
d    Leeds  2024     95    60
e  Bristol  2024    110    65

##### loc : label based indexing

##### 1. Select records or rows by label

In [6]:
df_dummy.loc["b"]

city     London
year       2024
sales       140
cost         80
Name: b, dtype: object

In [8]:
df_dummy.loc[["b","d"]]

     city  year  sales  cost
b  London  2024    140    80
d   Leeds  2024     95    60

##### 2. Select rows and columns by label

In [9]:
df_dummy.loc["b", "sales"]

140

In [10]:
df_dummy.loc[["b", "d"],["city", "sales"]]

     city  sales
b  London    140
d   Leeds     95

#### 3. slice by label

In [12]:
df_dummy.loc["b":"e", "city" : "sales"]

      city  year  sales
b   London  2024    140
c    Leeds  2023     90
d    Leeds  2024     95
e  Bristol  2024    110

In [ ]:
#Boolean row filter

In [15]:
city_l = df_dummy["city"].str.startswith("L")

print(city_l)

a     True
b     True
c     True
d     True
e    False
Name: city, dtype: bool

In [16]:
df_dummy[df_dummy["city"].str.startswith("L")]

     city  year  sales  cost
a  London  2023    120    70
b  London  2024    140    80
c   Leeds  2023     90    55
d   Leeds  2024     95    60

In [20]:
df_dummy.loc[lambda x: x["sales"] > x["cost"] *1.7, ["city", "sales", "cost"]]

     city  sales  cost
a  London    120    70
b  London    140    80

#### Creation of new index

In [27]:
df_dummy.loc["f"]={ 
"city": "Cardiff", 
"year": 2026, 
"sales": 220, 
"cost": 75, 
    
}

In [28]:
df_dummy

      city    year  sales  cost  profit
a   London  2023.0  120.0  70.0    50.0
b   London  2024.0  140.0  80.0    60.0
c    Leeds  2023.0   90.0  55.0    35.0
d    Leeds  2024.0   95.0  60.0    35.0
e  Bristol  2024.0  110.0  65.0    45.0
f  Cardiff  2026.0  220.0  75.0     NaN

In [32]:
df_dummy["profit"] = df_dummy["sales"] - df_dummy["cost"]
df_dummy

      city    year  sales  cost  profit
a   London  2023.0  120.0  70.0    50.0
b   London  2024.0  140.0  80.0    60.0
c    Leeds  2023.0   90.0  55.0    35.0
d    Leeds  2024.0   95.0  60.0    35.0
e  Bristol  2024.0  110.0  65.0    45.0
f  Cardiff  2026.0  220.0  75.0   145.0

In [ ]:
df_dummy = df_dummy.drop(index ="profit")